@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
.main{
	margin-top : 60px;
}
.navbar-fixed-top {
    top: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}

.navbar{
	min-height: inherit;
}
.navbar .nav {
    float: right;
	margin : 0;
}
.navbar .nav > li{
    float: right;
}
.navbar-brand {
    float: right;
}
.post {
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    display: block;
    line-height: 30px;
    padding: 4px;
    text-align: justify;
}
.post .btns{
	text-align:left;
}
.Title {
    color: #0088cc;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    line-height: 27px;
    margin: 0;
    text-decoration: none;
    text-rendering: optimizelegibility;
}