@font-face {
    font-family: 'IranianSansRegular';
        src: url('../fonts/irsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }
@font-face {
    font-family: 'IranianSansBold';
        src: url('../fonts/irsansb.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }


/* The following rules are deprecated. */

@font-face {
    font-family: 'Iranian Sans';
        src: url('../fonts/irsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'Iranian Sans';
        src: url('../fonts/irsansb.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
	  
html,body{
	background-color:#d1d1d1;
}
p {
   font-family: 'IranianSansRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 9pt;
} 
.Title{
	font-family: 'IranianSansRegular';
	font-weight: bolder;
}
.main{
	font-family: 'IranianSansRegular';
	margin-top : 60px;
	font-family: tahoma;
}
.navbar-fixed-top {
    top: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}

.navbar{
	min-height: inherit;
}
.navbar .nav {
    float: right;
	margin : 0;
}
.navbar .nav > li{
    float: right;
}
.navbar .nav a{
	font-family: 'IranianSansRegular';
}
.navbar-brand {
    float: right;
}
.post {
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    display: block;
    line-height: 30px;
    text-align: justify;
	background-color: #ededed;
	margin-bottom: 10px;
    padding: 20px 4px;
}
.post .btns{
	text-align:left;
}
.Title {
	font-family: "IranianSansRegular" !important;
    font-size: 18px !important;
    font-weight: bolder !important;
    color: #0088cc;
    line-height: 27px;
    margin: 0;
    text-decoration: none;
    text-rendering: optimizelegibility;
}
.single-img {
    margin: 10px 0;
    max-height: 400px;
    overflow: hidden;
}
.single-img img {
    width: 100%;
}
.single-img-bg{
	margin: 10px 0;
    height: 100px;
    overflow: hidden;
	background-color: #026873;
	background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 13px, 29px, 37px, 53px;
}
.btn-info{
	background-color: #026873;
	background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 13px, 29px, 37px, 53px;
    font-size: 18pt;
    font-weight: bold;
    line-height: 19px;
	background-color: #708893;
	border-color: #b0b0bc;
}
.btn-info:hover{
	
    color: #ffffff;
	border-color: #8f8f8f;
}
a.twitter {
    background-image: url("../images/twitter.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% auto;
    display: block;
    min-height: 40px;
	border-radius: 10px;
}
a.twitter:hover{
	background-color:#dfdfdf
}
.footer {
    color: #404040;
    font-family: iraniansansregular;
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
}
.latest-post {
    background-color: #dfdfdf;
    border-radius: 10px;
    list-style: outside none none;
    margin: 0;
    padding: 10px;
}
.latest-post li {
    border-bottom: 1px dotted #ececec;
}
.latest-post li:last-child {
	border-bottom : none;
}
.latest-post .Title {
    color: #0068ac;
    font-size: 11px !important;
    line-height: 33px;
	display:block;
	padding-right: 5px;
}
.latest-post .Title:hover{
	background-color: #e6e6e6;
    text-decoration: none;
}